* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// colors website :
// #fff         white
// #ffd904;     yellow
// #201c24;     super dark purpl.e

// test css, remove when finished

// .main-container-1 {
//    .right-main-container-1 {
//     .right-main-container-text-box-1:has(.dark-mode-toggle:checked) {
//         background-color: #fff;
//             color: #1b171f;
//         }
//     }
//    }

// .main-header-container:has(.dark-mode-toggle:checked) {
//     background-color: red;
// }

//Primary button #1
@mixin button {
    border-radius: 5px;
    border: 0;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #ffd904;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
}


// hover effect on header pages

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

// main banner content


.main-header-container {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.415);
    height: 85px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

    li {
        margin-right: 25px;
        margin-left: 25px;
        list-style: none;
        color: #fff;
    }
}

.main-banner-container {
    width: 100%;
    height: 775px;
    background-image: url(../Images/home-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.left-banner-container {
    width: 50%;
    height: 775px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 75px;
        height: auto;
        color: #fff;
    }

    h3 {
        font-family: 'Montserrat', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        color: #ffd904;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-size: 65px;
        color: #fff;
        line-height: 1.2em;
    }

    button {
        border-radius: 5px;
        border: 0;
        width: 200px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #ffd904;
        margin-top: 25px;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Oswald', sans-serif;
    }

    .container-lines {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lines {
        width: 150px;
        border-bottom: 2px solid #fff;
        margin-left: 20px;
        margin-right: 20px;
    }
}

// main body content
// container #1

.main-container-1 {
    width: 100%;
    height: 850px;
    background-color: #201c24;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

// .right-main-container-1 {
//     .right-main-container-text-box-1 {
//         span {
//             margin-bottom: 25px;
//         }
//     }
// }

.right-main-container-1 {
    width: 40%;
    height: 550px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.right-main-container-text-box-1 {
    width: 80%;
    height: auto;
    border-bottom: 3px solid #ffd904;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1 {
    color: #ffd904;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    line-height: 1em;
}

p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    margin-top: 25px;
}

button {
    @include button()
}

img {
    width: 150px;
    height: auto;
    margin-top: 35px;
}

.left-main-container-1 {
    width: 40%;
    height: 550px;
    background-image: url(../Images/professional-chef-preparing-meal-flambing-indoors-2022-02-10-02-42-01-utc.jpg);
    background-size: cover;
    background-position: 65%;
    // animation: left-to-right 1.5s ease-in-out;
}

// @keyframes left-to-right {
//  100% {
//     transform: translateX(10%);
//  }
// }

// container #2

.main-container-2-background {
    width: 100%;
    height: auto;
    background-image: url(../Images/spice-background.jpg);
    background-size: cover;
}

.main-container-2 {
    width: 100%;
    height: 850px;
    background-color: #201c24e1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.left-main-container-2 {
    width: 40%;
    height: 550px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.right-main-container-2 {
    width: 40%;
    height: 550px;
    background-image: url(../Images/pot-of-cooking-shrimp-with-parsley-2022-01-12-00-56-31-utc.jpg);
    background-size: cover;
    background-position: 65%;
}

// footer container

.footer-bar {
    width: 100%;
    height: 75px;
    background-color: rgb(23, 20, 27);


    display: none;
}

.main-footer-container {
    width: 100%;
    height: auto;
    background-color: #201c24;
    display: flex;
    justify-content: space-evenly;
    // align-items: center;
    h1 {
        font-size: 40px;
    }
}

.footer-container-1 {
    width: 20%;
    height: auto;
    // align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    h1 {
        padding-bottom: 30px;
        font-size: 35px;
    }

    img {
        width: 75px;
    }
}

.footer-container-2 {
    width: 20%;
    height: auto;
    padding-top: 35px;
    padding-bottom: 35px;
    h1 {
        padding-bottom: 30px;
        font-size: 35px;
    }
}

.post-1 {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ffd904;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    li {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        list-style: none;
        margin-bottom: 10px;
    }
    
     h3 {
        color: rgba(153, 153, 153, 0.550);
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        margin-bottom: 10px;
    }

    li::before {
        content: "\02C3";
        font-size: 20px;
        color: #ffd904;
        margin-right: 10px;
    }
}

.footer-container-3 {
    width: 20%;
    height: auto;
    // background-color: #1b171f;
    padding-top: 35px;
    padding-bottom: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
     h1 {
        padding-bottom: 30px;
        font-size: 35px;
    }
}

// contact form 

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border:none;
font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #1b171f;
  color: #ffd904;
}

input[type=submit] {
  background-color: #ffd904;
  color: #1b171f;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  border-radius: 15px;
  background-color: #2a2330;
  padding: 20px;
  width: 100%;
} label {
    font-family: 'Montserrat', sans-serif;
       font-family: 'Oswald', sans-serif;
}



.footer-container-4 {
    width: 20%;
    height: auto;
    // background-color: #1b171f;
    padding-top: 35px;
    padding-bottom: 35px;
     h1 {
        padding-bottom: 30px;
        font-size: 35px;
    }

    h3 {
        color: rgba(153, 153, 153, 0.550);
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .important-links {
        color: #fff;
    }

    p {
        font-size: 15px;
        color: rgba(153, 153, 153, 0.550);
    }

    .contact-icons {
        display: flex;
    } img {
        width: 40px;
        margin-right: 20px;
    }
}

.bottom-footer-bar {
    border-top: 3px solid #1b171f;
    width: 100%;
    height: 65px;
    background-color: #1b171f;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: left;
    h3 {
        color: rgba(153, 153, 153, 0.550);
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        margin-left: 4%;
    } span {
        color: #fff;
    }
}

