* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main-header-container {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-weight: 500;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.415);
  height: 85px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.main-header-container li {
  margin-right: 25px;
  margin-left: 25px;
}

.main-banner-container {
  width: 100%;
  height: 775px;
  background-image: url(/Images/home-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.left-banner-container {
  width: 50%;
  height: 775px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-banner-container img {
  width: 75px;
  height: auto;
  color: #fff;
}
.left-banner-container h3 {
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  color: #ffd904;
}
.left-banner-container h1 {
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
  font-size: 65px;
  color: #fff;
  line-height: 1.2em;
}
.left-banner-container button {
  border-radius: 5px;
  border: 0;
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffd904;
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
}
.left-banner-container .container-lines {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-banner-container .lines {
  width: 150px;
  border-bottom: 2px solid #fff;
  margin-left: 20px;
  margin-right: 20px;
}

.main-container-1 {
  width: 100%;
  height: 850px;
  background-color: #201c24;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.right-main-container-1 {
  width: 40%;
  height: 550px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.right-main-container-text-box-1 {
  width: 80%;
  height: auto;
  border-bottom: 3px solid #ffd904;
  padding-top: 25px;
  padding-bottom: 25px;
}

h1 {
  color: #ffd904;
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  line-height: 1em;
}

p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  margin-top: 25px;
}

button {
  border-radius: 5px;
  border: 0;
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffd904;
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
}

img {
  width: 150px;
  height: auto;
  margin-top: 35px;
}

.left-main-container-1 {
  width: 40%;
  height: 550px;
  background-image: url(/Images/professional-chef-preparing-meal-flambing-indoors-2022-02-10-02-42-01-utc.jpg);
  background-size: cover;
  background-position: 65%;
}

.main-container-2-background {
  width: 100%;
  height: auto;
  background-image: url(/Images/spice-background.jpg);
  background-size: cover;
}

.main-container-2 {
  width: 100%;
  height: 850px;
  background-color: rgba(32, 28, 36, 0.8823529412);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.left-main-container-2 {
  width: 40%;
  height: 550px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.right-main-container-2 {
  width: 40%;
  height: 550px;
  background-image: url(/Images/pot-of-cooking-shrimp-with-parsley-2022-01-12-00-56-31-utc.jpg);
  background-size: cover;
  background-position: 65%;
}

.footer-bar {
  width: 100%;
  height: 75px;
  background-color: rgb(23, 20, 27);
  display: none;
}

.main-footer-container {
  width: 100%;
  height: 550px;
  background-color: #201c24;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}

.footer-container-1 {
  width: 20%;
  height: 100%;
  background-color: #1b171f;
  align-items: center;
  display: flex;
}

.footer-container-2 {
  width: 20%;
  height: 100%;
  background-color: #1b171f;
}

.footer-container-3 {
  width: 20%;
  height: 100%;
  background-color: #1b171f;
}

.footer-container-4 {
  width: 20%;
  height: 100%;
  background-color: #1b171f;
}/*# sourceMappingURL=styles.css.map */