label:has(+ input:valid) {
    color: greenyellow;
}

label:has(+ input:valid)::before {
    content: ">>>";
    margin-right: .25em;
}

label:has(+ input:invalid) {
    color: red;
}


label:has(+ input:invalid)::before {
    content: "<<<";
    margin-right: .25em;
}