
/* Parent */

.myDIV {
    width: 200px;
    background-color: #333;
}

/* Child */

li {
    color: #fff;
    font-size: 15px;
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

li::before{
    content: "\1F4E7";
    font-size: 50px;
    color: red;
    margin-right: 25px;
}

    /*

    Add your unicode character inside the content quotes,
    don't forget to add a backwards slash before the numbers.
    You can also add any color you want.
    
    Here is a link the website with the unicdoes.
    https://www.compart.com/en/unicode/

    */