.parent {
    background-color: darkblue;
    width: 400px;
    height: 400px;
}

.child {
    background-image: url(/Images/home-background.jpg);
    background-size: cover;
    background-color: red;
    width: 50%;
    height: 50%;
    animation: left-to-right 1.5s cubic-bezier(0.08, 0.63, 0.43, 1.3) forwards;
}

@keyframes left-to-right {
 100% {
    transform: translateX(100%);            
    background-color: purple;
 }
}
